# ======================================================
# Application Environment
# ======================================================
NODE_ENV="development"
PORT=3333

# ======================================================
# Prisma (Database)
# ======================================================
DATABASE_URL="postgresql://user:password@postgres:5432/fastfeet"
DATABASE_SCHEMA="public"

# ======================================================
# Security (Password Hashing)
# ======================================================
HASH_SALT_ROUNDS=10

# ======================================================
# Cloudflare (File Storage / R2 / CDN)
# ======================================================
CLOUDFLARE_ACCOUNT_ID="4f4b0c79a6a2980d549b9c0eb19a6856"

# ======================================================
# AWS S3 (File Uploads)
# ======================================================
AWS_BUCKET_NAME="fast-feet"
AWS_ACCESS_KEY_ID="a1640c890ce37ff3d31cb6075c3d2fae"
AWS_SECRET_ACCESS_KEY="a9a140e77131efd82333712cf5f1a078b093a493330ec1f1ab9bc62d975f9774"

# ======================================================
# Auth (JWT - RS256)
# ======================================================
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
