# Override env variables during tests

# ======================================================
# AWS S3 (File Uploads)
# ======================================================
AWS_BUCKET_NAME="fast-feet"